
.SchedulePage{
    background-color: #8ae6ff;

    flex-direction: column;
}

.schedule-container{
    
    
    background-color: #fcf6db;
    padding: 8rem 5rem;
    border-radius: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family:  "Roboto Mono", serif;
    font-size: 25px;
}
.scheduleNotice{
    /* background-color: lightcoral; */
    width: 80vw;
    padding: 2rem;
    text-align: justify;
}

.schedule-container ul{
    list-style-type: none;
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
}
.schedule-container li{
    margin-bottom: 15px; /* Space between items */
    padding-bottom: 10px; /* Space before the underline */
    border-bottom: 1px solid black; /* Thin underline */
}

.schedule-container li:last-child {
    border-bottom: none;
}

@media  screen and (max-width:1440px) {

    .schedule-container{
        padding: 5rem 3rem;
        font-size: 15px;
    }
}

@media screen and (max-width: 425px){
    .schedule-container{
        padding: 2rem 1.5rem;
        margin:0.7rem;
        border-radius: 20px;
    
        font-size: 15px;
    }
}