
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


.HeroPage{
    background-color: #8AE6FF;
}

.HeroPage h2{
    font-family: "Inter", serif;
    font-size: 30px;
}

.content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* background-color: red; */
    width: 100vw;
    height:auto;

    
}

.content-wrapper{
    padding: 200px;
}

.heroHeading1 {
    font-family: "Inter", serif;
    font-size: clamp(2.5rem, 5vw, 6rem); /* Adjusts between 2.5rem and 6rem */
    font-weight: 700;
}

.heroP {
    font-family: "Roboto Mono", serif;
    font-size: clamp(1rem, 2.5vw, 1.5rem); /* Adjusts between 1rem and 1.5rem */
    line-height: 1.6;
}


.image-container{
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height:auto;
}

@media screen and (max-width:1440px){
    .HeroPage{
        flex-direction: column;
        text-align: center;
    }

    .content-container, .image-container {
        width: 100%;
    }

    .content-container {
        align-items: center;
    }

    .heroHeading1 {
        font-size: 2rem;
    }

    .heroP {
        font-size: 1rem;
    }

    .content-wrapper {
        padding: 20px;
    }

    .image-container img{
        width: 500px;
        height: 500px;
    }
}


@media screen and (max-width:1440px){
    .image-container img{
        width: 300px;
        height: 300px;
    }
}
